<h2> Table of Comparison Operators </h2><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [1]:
a = 3
b = 4
a > b

False

In [2]:
a <= b

True

# Chained Comparison Operators

An interesting feature of Python is the ability to *chain* multiple comparisons to perform a more complex test. You can use these chained comparisons as shorthand for larger Boolean Expressions.

In this lecture we will learn how to chain comparison operators and we will also introduce two other important statements in Python: **and** and **or**.

In [3]:
2 < 3 < 4 < 5

True

In [4]:
2 < 3 < 1 < 5

False

In [5]:
2 < 3 and 3 < 4 and 4 < 5

True

In [8]:
2 < 3 and 3 < 1 or 1 < 0

False

# Conditional Statements

In [10]:
a = 'Shourya'
if a == 'Apoorva':
    print('Hello Apoorva')

In [13]:
Name = 'Tom'
password = '123'
if Name == 'Tom' and password == '123':
    print('Access Granted')

Access Granted

In [15]:
code = 123
if code == 123 or code == 456:
    print('Access Granted')

Access Granted

In [18]:
name = ''
if name == 'Tom':
    print('Hello Tom')
else:
    print('Hello John Wick')

Hello John Wick

In [21]:
name = 'Munnalal'
if name == 'Tom':
    print('Hello Tom')
elif name == 'John':
    print('Hello John')
elif name == 'Eric':
    print('Hello Eric')
else:
    print(' You are not allowed')

 You are not allowed

# Print function

In [25]:
print(1, end = ' ')
print(2, end = ' ')
print(3)

1    2->3

# Input fucntion

In [26]:
name = input()

Ravi

In [27]:
name

'Ravi'

In [29]:
name = input('Enter Name: ')

Enter Name: Ravi

In [30]:
name

'Ravi'

In [33]:
a = int(input('Enter the number: '))

Enter the number: 5

In [34]:
print(a)
type(a)

5

int

In [35]:
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))
c = input('Operator: ')
if c=='+':
    print(a+b)
elif c=='-':
   print(a-b)
elif c =='*':
    print(a*b)
else: print ('Incorrect operator')

Enter first number: 5
Enter second number: 3
Operator: -
2

# Loops

## For Loops

In [36]:
l1 = [1,2,3,4]
for i in l1:
    print(i)

1
2
3
4

In [37]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [38]:
for i in range(10):
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [39]:
# Initialisation, Condition, Increment/Decrement
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [40]:
for i in range(4):
    for j in range(3):
        print(i,j, end = '  ')

0 0  0 1  0 2  1 0  1 1  1 2  2 0  2 1  2 2  3 0  3 1  3 2

In [41]:
# Ladder Pattern
n = int(input("Enter a number: "))
for i in range(1,n+1) :
    for j in range(1,i+1):
        print('*',end="")
    print()

Enter a number: 5
*
**
***
****
*****

In [45]:
for i in range(1,6): print('*' * i)

*
**
***
****
*****

In [49]:
# Pyramid pattern 1
for i in range(5):
    for j in range(0, 5-i-1):
        print(' ', end = "")
    for k in range(0, 2*i+1):
        print('*', end = '')
    print()

    *
   ***
  *****
 *******
*********

In [46]:
# Pyramid Pattern 2
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

Enter number of rows: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

##  While Loops

In [50]:
i = 0
while i<5:
    print(i)
    i += 1

0
1
2
3
4

In [53]:
i = 1
while i < 11:
    if i % 2 == 0:
        print(i,'Even')
    else:
        print(i,'odd')
    i += 1

1 odd
2 Even
3 odd
4 Even
5 odd
6 Even
7 odd
8 Even
9 odd
10 Even

## break

In [54]:
i = 0
while True:
    print(i)
    if i == 10:
        break
    i += 1

0
1
2
3
4
5
6
7
8
9
10

## Continue

In [56]:
i = 0
while i < 11:
    i += 1
    if i % 2 == 0:
        continue
        print(i,'Even')
    else:
        print(i,'odd')

1 odd
3 odd
5 odd
7 odd
9 odd
11 odd

## Pass

In [59]:
i = 0
while i < 11:
    i += 1
    if i % 2 == 0:
        pass
    else:
        print(i,'odd')

1 odd
3 odd
5 odd
7 odd
9 odd
11 odd

## For else and While else loops

In [61]:
i = 0
while i < 6:
    print(i)
    i += 1
else:
    print('i greater than 5')

0
1
2
3
4
5
i greater than 5

In [70]:
# Check if the number is prime
n = 23
for i in range(2,int(n**0.5)+1):
    if n%i == 0:
        print("Not Prime")
        break
else: 
    print("prime")

prime