In [1]:
def function_name():
    print('Hello')

In [2]:
function_name()

Hello

In [3]:
def add(num1, num2):
    print(num1 + num2)

In [4]:
add(2,5)

7

In [5]:
def add(num1, num2):
    return num1 + num2

In [6]:
c = add(2,5)
c

7

In [7]:
add(2,7)

9

In [8]:
def multiply(num1, num2):
    return num1 * num2

In [10]:
# (a + b) * c
a = 2
b = 5
c = 2
x = add(a,b)
y = multiply(x,c)
y

14

In [11]:
y = multiply(add(a,b),c)

In [12]:
y

14

In [21]:
def divide(num1 , num2 = 1):
    return num1 / num2

In [23]:
x = divide(5, 2)
x

2.5

In [40]:
def details(name, age):
    print( "Name : ", name, "Age: ", age)

In [41]:
details(name = 'John Wick', age = 25)

Name :  John Wick Age:  25

In [42]:
details( age = 25, name = 'John Wick')

Name :  John Wick Age:  25

In [43]:
details('John Wick', age = 25)

Name :  John Wick Age:  25

In [45]:
details(name = 'John Wick', age )

SyntaxError: positional argument follows keyword argument (<ipython-input-45-1138c6c815e8>, line 1)

In [34]:
def add(num1, num2):
    return num1 + num2

In [35]:
def add(num1, num2, num3):
    return num1 + num2 + num3

In [36]:
def add(num1, num2, num3, num4):
    return num1 + num2 + num3 + num4

# args and kwargs

In [46]:
def add(*args):
    return sum(args)

In [47]:
add(1,2)

3

In [48]:
add(2,3,4,5)

14

In [49]:
add(2,3,4,5,6,7,9,45,34,32)

147

In [68]:
def add(*Pinaki):
    print(Pinaki)
    return sum(Pinaki)

In [69]:
add(2,3,4,5,6,7,9,45,34,32)

10

147

In [52]:
def details(**kwargs):
    print(kwargs)

In [53]:
details(name = 'John')

{'name': 'John'}

In [56]:
details(name = 'John', age = 25, Gender = 'Male')

{'name': 'John', 'age': 25, 'Gender': 'Male'}

In [57]:
def details(*args, **kwargs):
    print(args)
    print(kwargs)

In [58]:
details(90,90, name = 'John')

(90, 90)
{'name': 'John'}

In [60]:
details(90,90,80,70,75, name = 'John', age = 26, Roll_no = 420)

(90, 90, 80, 70, 75, 'xyz')
{'name': 'John', 'age': 26, 'Roll_no': 420}

In [61]:
a = int(input("Enter value-1 : "))
b = int(input("Enter value-2 : "))
c = int(input("Enter value-3 : "))
def largest(num1,num2,num3):
    if(num1>=num2 and num1>=num3):
        return num1
    elif (num2>=num3 and num2>=num1):
        return num2
    else:
        return num3

Enter value-1 : 4
Enter value-2 : 5
Enter value-3 : 6

In [62]:
largest(a,b,c)

6

In [ ]:
20

In [70]:
def prime(n):
    if n==0 or n==1:
        return False

    else:
        for i in range(2,int(n**0.5)+1):
            if n%i==0:
                return False
                break
        else:
            return True

In [71]:
def primeFactors(n):
    pfact = []
    i = 2
    while n>1:
        if n % i == 0 and prime(i):
            pfact.append(i)
            n = n//i
        else : 
            i+=1
    return pfact

In [76]:
primeFactors(99)

[3, 3, 11]

## map function

The **map** function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [77]:
def square(num):
    return num**2
type(square)

function

In [78]:
my_nums = [1,2,3,4,5]

In [79]:
for i in my_nums:
    print(square(i), end = ' ')

1 4 9 16 25

In [81]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [82]:
def cut(s):
    return s[0]

In [83]:
l = ['abc', 'xyz', 'pqr']

In [84]:
list(map(cut, l))

['a', 'x', 'p']

## filter function

The filter function returns an iterator yielding those items of iterable for which function(item)
is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [85]:
def prime(n):
    if n==0 or n==1:
        return False

    else:
        for i in range(2,int(n**0.5)+1):
            if n%i==0:
                return False
                break
        else:
            return True

In [86]:
l = [1,2,3,4,5,6,7,8,9]

In [87]:
list(filter(prime,l))

[2, 3, 5, 7]

In [88]:
def check_even(n):
    return n % 2 == 0

In [89]:
list(filter(check_even,l))

[2, 4, 6, 8]

## lambda expression

One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

**lambda's body is a single expression, not a block of statements.**

* The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.

In [1]:
lambda num : num ** 2

In [2]:
a = lambda num : num ** 2

In [3]:
a(5)

25

In [4]:
a(7)

49

In [5]:
b = lambda num1, num2,num3 : num1 + num2 + num3

In [6]:
b(1,2,3)

6

In [7]:
c = lambda *numbers : sum(numbers)

In [15]:
a = lambda **details : print(details)
a(name = 'John', age = 25)

{'name': 'John', 'age': 25}

In [8]:
c(1,2)

3

In [9]:
c(1,2,3)

6

In [10]:
l1 = [1,2,3,4,5,6,7,8,9]

In [12]:
list(map(lambda num : num ** 2, l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
list(filter(lambda num : num % 2 == 0, l1))

[2, 4, 6, 8]

In [20]:
l = ['Hello i am john wick',
    'i love killing people',
    'I am crime master Gogo']

In [17]:
def first_word(s):
    return s.split()[0]

In [18]:
first_word('I am crime master Gogo')

'I'

In [21]:
list(map(first_word, l))

['Hello', 'i', 'I']

In [22]:
list(map(lambda s : s.split()[0], l))

['Hello', 'i', 'I']