# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [3]:
l1 = []
s1 = 'word'
for x in s1:
    l1.append(x)
l1

['w', 'o', 'r', 'd']

In [4]:
# Grab every letter in string
lst = [x for x in 'word']

In [5]:
# Check
lst

['w', 'o', 'r', 'd']

In [6]:
lst = [x for x in range(11)]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(0,11)]

In [8]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
lst = [x + 10 for x in range(5)]
lst

[10, 11, 12, 13, 14]

## Example 3
Let's see how to add in <code>if</code> statements:

In [10]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]

In [11]:
lst

[0, 2, 4, 6, 8, 10]

In [13]:
lst = [x for x in range(11) if x % 2 != 0]
lst

[1, 3, 5, 7, 9]

## Example 4
Can also do more complicated arithmetic:

In [15]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

## Example 5
We can also perform nested list comprehensions, for example:

In [9]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [16]:
'''f(x) = 3x
g(x) = 2x
f(g(x))'''

lst = [3*x for x in [2*x for x in range(10)]]
lst

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54]

In [21]:
'''g(x) = 2x + 3
   f(x) = x**2 + 1
   f(g(x))'''
lst = [x**2 + 1 for x in [2*x + 3 for x in range(5)]]
lst

[10, 26, 50, 82, 122]

In [23]:
lst = ['Hello', 'World', 'Crime', 'Master', 'Gogo']
l = [s for s in lst if len(s) % 2 == 0]
l

['Master', 'Gogo']